.queue-window
    h2 Tasks
    .queue-controls
        p
            a(href="#")#next.queue-shift next
    #slide.queue-slide(data-index=0)
        each tasks, group_type in queues
            .queue(data-type=group_type)
                each task in tasks
                    - const expirDate = new Date(parseInt(task.set_active.valueOf()) + (parseInt(task.expires) * 24 * 60 * 60 * 1000));
                    .task(class= task.is_head ? 'head' : '', data-expires=expirDate.valueOf() )
                        h3= task.title
                        p=  task.descr
                        footer
                            p #{task.is_head ? new Date(task.expires) : null}
