extends layouts/visitor.pug

block content
    h1 Frequently Asked Questions
    h3 Overview
    p Each participant is assigned a class. Different classes will be assigned tasks to complete each day.
    p The King has the ability to assign a set of preloaded tasks ("get task" option), or create new tasks ("create task" option).
    p Participants will submit daily proof.
    p If the proof is submitted on time before the task expires, a point is added to their score. Otherwise, a point is subtracted.

    h3 Which Tasks Belong to Who?
    p.animal-badge Animal
    p.serf-badge Serf
    p.knight-badge Knight
    p.lord-badge Lord
    p.king-badge King
