extends templates/master.pug

block content
    h1 Frequently Asked Questions
    h3 Which Tasks Belong to Who?
    p.animal-badge Animal
    p.serf-badge Serf
    p.knight-badge Knight
    p.lord-badge Lord
    p.king-badge King