extends layouts/visitor.pug

block content
    h1 Game Guide
    h2 Purpose
    p.
        Many of us are confronted by difficult questions daily that we would rather avoid. Often times, they are questions we already
        know the answer to. “Should I exercise today?”, “Should I brush my teeth before bed?”, “Should I set some time aside to
        read tonight?”, to name a few. There are larger questions too, and one that inspires us at Cubbard Web-development
        is, “Are we doing something every day to become better versions of ourselves?”.
    p.
        Having friends to hold you accountable along the way can be a great help, so with this website we have attempted to
        create a hub of like-minded, self-optimizers. 
    h2 Approach
    p.
        The hard questions club’s founders are fickle people, so the only way they could stay motivated to build this 
        tool was to develop an approach for self-optimization around their own idea of fun. That is to say, the approach 
        outlined here might not be right for you, and we aren’t claiming that it is. Listen to your own inner voice.
    h3 Rounds
    p.
        Each round lasts a full seven days. If you participate in a round you will be expected to complete a daily task/chore according
        to the class you are assigned.
    h3 Class Roles
    p.
        When you login, you'll notice that every participant is assigned a specific class ('Animal', 'Serf', 'Knight', 'Lord', and 'King').
        This is our attempt to keep things a little more interesting by breaking up the daily tasks/chores you will be assigned 
        according each classes' overarching theme. You will get a sense of these themes as you continue playing. These classes are reassigned
        at the beginning of each new round.
    h4 King Role
    p.
        The king is someone of a priviledged user. Only a single king will be assigned to every round and they will have the ability to 
        control each classes' queue of tasks. They can choose to assign tasks from a set of existing tasks that Cubbard and contributers created,
        or they can create their own, depending on how they feel.
    h3 Daily Tasks/Chores
    p.
        You will have 24 hours to complete the daily task/chore your class members have been assigned. This chore will be visible when you
        login at the bottom of the page. By default, your own classes' task will be displayed, but you may click 'next' to see what other
        classes are suffering through. If your classes' current task expires before you have submitted your daily proof, you will be deducted a point.
        If you complete the task, a point will be added to your score. Your group can decide to do whatever they want with the points
        at the end of each round.


