extends layouts/visitor.pug

block content
    h1 Welcome to the hard questions club,
    p a small project founded by a couple of goofs determined to confront life's quandaries head on, every day.

    p
        a(href="/early-access") early access

    h2 Great, so what do we do here?
    p.
        Its pretty simple. If you join our little club, you'll be expected to participate in completing a daily chore, or task.
        These tasks were specifically created to help answer the question, "am I doing something every day to become a better me?"
        There is a little more to it than that, and you can find the specifics in our #[a(href="/guide") Game Guide] and #[a(href="/faq") Frequently Asked Questions] pages.
    p.
        For the sake of brevity, you can expect the difficulty of these tasks to vary, as well as their overarching theme,
        according to the class or role that you assigned once you join. These roles are reshuffled at the end of every week long round, at which point
        you will be able to opt out of the next one.
    p.
        If you like to keep it simple, thats really about it! This project is in the very early stages of development. If you would
        like to participate in the early access rounds, click the link provided above. There, you may submit an application with your desired
        identity and password.
    
    h3 Cheers!
    p John Burd and Garren Ijames
    .centered-picture
        img(src="https://via.placeholder.com/320x250")