extends templates/master.pug

block content
    form(action="/login", method="POST")
        label(for="name") Identity
        input(type="text", name="identity")
        
        label(for="password") Password
        input(type="password", name="password")

        input(type="submit", value="submit")