extends templates/master.pug

block content
    h1 Welcome!
    - const king = group_type === 'Q';
    .user #{identity + ' - ' + (!isNaN(score) ? score : "Not a part of the current cycle")}
        p
            a(href="/app/logout") logout
    if !staging
        include includes/profileOngoing.pug
    else
        include includes/profileStaging.pug