extends templates/master.pug

block content
    h1 Welcome!
    - const king = group_type === 'Q';
    .user #{identity + ' - ' + (!isNaN(score) ? score : "Not a part of the current cycle")}
        p
            a(href="/app/logout") logout
    if king
        include includes/taskForm.pug
    if tasks
        .tasks
    include includes/taskQueue.pug

block scripts
    if king
        script.
            const getTask  = document.getElementById('getTask');
            const taskForm = document.getElementById('taskForm');

            getTask.addEventListener('click', e => {
                e.preventDefault();
                let xhr = new XMLHttpRequest();
                xhr.addEventListener('load', function() {
                    let dat = JSON.parse(this.responseText);
                    if (dat.error) {
                        alert(dat.error);
                    } else {
                        const id = document.createElement('input');
                        id.type = "hidden";
                        id.name = "id";
                        taskForm.appendChild(id);

                        const title = taskForm.querySelector('input[name="title"]');
                        const descr = taskForm.querySelector('textarea[name="descr"]');
                        const group_type = taskForm.querySelector('select[name="group_type"]');

                        id.value    = dat.id;
                        title.value = dat.title;
                        descr.value = dat.descr;

                        title.disabled = "disabled";
                        descr.disabled = "disabled";
                        group_type.disabled = "disabled";
                    }

                })

                xhr.open("GET", "/app/getTask?group_type=" + taskForm.querySelector('select[name="group_type"]').value);
                xhr.send();
            })
    script.
        const shift = document.getElementById("next");
        const slide = document.getElementById("slide");

        shift.addEventListener('click', e => {
            e.preventDefault();
            let index = parseInt(slide.dataset.index);
            console.log(index);
            slide.dataset.index = (index + 1) % 5;
        });

        // do the loop stuff
        const tasks = document.querySelectorAll('.task.head');
        (function loop() {
                setTimeout(loop, 1000);
                tasks.forEach(task => {
                    const remaining = parseInt(task.dataset.expires) - Date.now().valueOf();
                    const date = {
                        days: Math.round(remaining / 1000 / 60 / 60 / 24),
                        mins: Math.round(remaining / 1000 / 60),
                        secs: Math.round(remaining / 1000)
                    }
                    task.querySelector('footer p').innerHTML = `days: ${date.days}, min: ${date.mins}, secs: ${date.secs}`;
                })
            }
        )();