extends templates/master.pug

block content
    h1 Welcome!
    .user #{identity + ' - ' + (!isNaN(score) ? score : "Not a part of the current cycle")}
        p
            a(href="/app/logout") logout
    if tasks
        .tasks
    include includes/taskQueue.pug

block scripts
    script.
        const shift = document.getElementById("next");
        const slide = document.getElementById("slide");

        shift.addEventListener('click', e => {
            e.preventDefault();
            let index = parseInt(slide.dataset.index);
            console.log(index);
            slide.dataset.index = (index + 1) % 5;
        });

        // do the loop stuff
        const tasks = document.querySelectorAll('.task.head');
        (function loop() {
                setTimeout(loop, 1000);
                tasks.forEach(task => {
                    const remaining = parseInt(task.dataset.expires) - Date.now().valueOf();
                    const date = {
                        days: Math.round(remaining / 1000 / 60 / 60 / 24),
                        mins: Math.round(remaining / 1000 / 60),
                        secs: Math.round(remaining / 1000)
                    }
                    task.querySelector('footer p').innerHTML = `days: ${date.days}, min: ${date.mins}, secs: ${date.secs}`;
                })
            }
        )();