extends templates/master.pug

block content
    h1 Welcome!
    - const king = group_type === 'Q';
    .user
        p #{identity + ' - ' + (!isNaN(score) ? score : "Not a part of the current cycle")}

    if !staging
        include includes/profileOngoing.pug
    else
        include includes/profileStaging.pug