html, html * {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 400;
}

html, body {
    height: 100%;
}

html {
    font-size: 1em;
}

body {
    line-height: 1.45em;
    margin: 0;
}

/* form stuff */
input, textarea {
    -webkit-appearance: none;
    border: none;
    border: 1px solid hsl(0, 0%, 10%);
    border-radius: 3px;
    padding: 0;
    margin: 0;
    line-height: 1.5em;
    font-size: 1em;
    display: inline-block;
}

input[type="text"], input[type="password"], textarea {
    padding-left: 0.25em;
    width: 100%;
}

input:read-only, textarea:read-only {
    color: hsl(0, 0%, 60%);
}

input[type="submit"] {
    padding: 0.25em 0.3em;
    background-color: hsl(0, 0%, 85%);
}

.field {
    display: block;
    margin-bottom: 0.5em;
}

nav {
    width: 100%;
    background-color: hsl(0, 0%, 10%);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    line-height: 2.5em;
    margin-right: 1.3em;
    cursor: pointer;
}

nav ul li:last-of-type {
    margin-right: 0;
}

nav ul li.nested {
    position: relative;
}

nav ul li.nested ul li a {
    display: block;
    width: 100%;
}

nav ul li.nested:after {
    content: "\25bc";
    font-size: 12px;
    color: white;
    margin-left: 0.25em;
}

nav ul li a {
    text-decoration: none;
    color: hsl(0, 0%, 95%);
    vertical-align: middle;
}

nav ul li.nested ul {
    list-style-type: none;
    display: none;
    position: absolute;
    max-width: 16em;
    top: 100%;
    left: 0;
    background-color: hsl(0, 0%, 20%);
}

nav ul li.nested:hover ul {
    display: block;
}

nav ul li.nested:hover ul li {
    margin: 0;
    padding-left: 0.5em;
}

nav ul li.nested ul li {
    display: inline-block;
    min-width: 8em;
}

nav ul li.nested ul li:hover {
    background-color: hsl(0, 0%, 35%);
}

/* tables */

table tr, table td {
    border-bottom: 1px solid hsl(0, 0%, 60%);
}

.table-container {
    max-width: 100%;
    overflow-x: scroll;
}

table {
    border-collapse: collapse;
    text-align: left;
    min-width: 600px;
    width: 100%;
}

thead {
    text-align: left;
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 95%);
}

thead tr th, tbody tr td {
    padding: 0.5em;
}

/* typo
 * https://type-scale.com/
 */

.red {
    color: #ff637a;
}

b {
    font-weight: 600;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}

.content-wrapper {
    width: 100%;
    padding: 0 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    width: 100%;
    max-width: 600px;
    min-width: calc(320px - 2em);
}

.content-pad-y-b {
    padding-bottom: 1.75em;
}

.well {
    border-radius: 3px;
    border: 1px solid hsl(0, 0%, 70%);
    background-color: hsl(0, 0%, 95%);
    padding: 0.33em;
}

.queue-window {
    width: calc(320px - 2em);
    min-height: 300px;
    overflow-x: hidden;
}

.queue-slide {
    width: calc((320px - 1.8em) * 5);
    transition: margin-left 0.3s linear;
}

.queue-slide[data-index="0"] {
    margin-left: 0;
}

.queue-slide[data-index="1"] {
    margin-left: calc((320px - 2em) * -1);
}

.queue-slide[data-index="2"] {
    margin-left: calc((320px - 2em) * -2);
}

.queue-slide[data-index="3"] {
    margin-left: calc((320px - 2em) * -3);
}

.queue-slide[data-index="4"] {
    margin-left: calc((320px - 2em) * -4);
}

.queue {
    padding: 3px;
    display: inline-block;
    vertical-align: top;
    min-height: 2em;
    width: calc(320px - 2em);
}

.queue .task {
    border-bottom: 1px solid hsl(0, 0%, 80%);
    border-radius: 3px;
    margin-bottom: 1em;
}

.queue .topper {
    border-radius: 5px;
    height: 0.75em;
    margin-bottom: 1em;
}

.queue[data-type='A'] .topper {
    background-color: #90ff7a;
}

.queue[data-type='S'] .topper {
    background-color: #ffd263;
}

.queue[data-type='K'] .topper {
    background-color: #ff6070;
}

.queue[data-type='L'] .topper {
    background-color: #ffadd3;
}

.queue[data-type='Q'] .topper {
    background-color: #b960db;
}

.animal-badge:after {
    content: " ";
    display: inline-block;
    margin-left: 0.25em;
    width: 1em;
    height: 1em;
    background-color: #90ff7a;
}
.serf-badge:after {
    content: " ";
    display: inline-block;
    margin-left: 0.25em;
    width: 1em;
    height: 1em;
    background-color: #ffd263;
}
.knight-badge:after {
    content: " ";
    display: inline-block;
    margin-left: 0.25em;
    width: 1em;
    height: 1em;
    background-color: #ff6070;
}
.lord-badge:after {
    content: " ";
    display: inline-block;
    margin-left: 0.25em;
    width: 1em;
    height: 1em;
    background-color: #ffadd3;
}
.king-badge:after {
    content: " ";
    display: inline-block;
    margin-left: 0.25em;
    width: 1em;
    height: 1em;
    background-color: #b960db;
}

footer {
    padding: 1.5em 0.25em;
    border-top: 1px solid hsl(0, 0%, 80%);
}

/* dummies */
.viewable {
    height: 300px;
    background-color: hsl(0, 0%, 85%);
}