doctype html
head
    meta(http-equiv='content-type', value='text/html;charset=UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title HARDQUESTIONS.CLUB | #{page}
    link(rel="stylesheet", href="/public/css/site.css")

body
    block content

    block scripts