nav
    .content-wrapper
        .content
            ul
                li #[a(href="/") Home]
                if !loggedIn
                    li #[a(href="/login") Login]
                else
                    li #[a(href="/app/logout") Logout]

                li.nested #[a(href="#") Help]
                    ul
                        li #[a(href="/guide") Game Guide]
                        li #[a(href="/faq") FAQ]
